menu "Application config"

	menu "IO_component"
		source "/home/eid/IOT_base/IoT_base/components/IO_Component/IO_Kconfig"
	endmenu

choice
	prompt "Select target MCU"
	default TARGET_ESP8266
	help
		Select MCU target to build for
		- ESP8266
		- ESP32
		- STM32
	config TARGET_ESP8266
		bool "ESP8266"
	
	config TARGET_ESP32
		bool "ESP32"
	
	config TARGET_STM32
		bool "STM32"

endchoice

endmenu


