menu "Application config"

config APPLICATION_START_MARK
	bool
	default y

choice MCU_TARGET
	prompt "Select target MCU"
	default TARGET_ESP8266
	help
		Select MCU target to build for
		- ESP8266
		- ESP32
		- STM32
	config TARGET_ESP8266
		bool "ESP8266"
	
	config TARGET_ESP32
		bool "ESP32"
	
	config TARGET_STM32
		bool "STM32"

endchoice

menu "IO_component"
	source "$COMPONENTS_PATH_ENV/IO_Component/IO_Kconfig"
endmenu

config APPLICATION_END_MARK
	bool
	default y

endmenu
